.better-recall-buttons-bar {
  margin-top: 0.75rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.better-recall-decks-view {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.better-recall-card {
  background-color: var(--background-primary);
  padding: var(--size-4-5);
  cursor: var(--cursor);
  border-radius: var(--radius-m);
  border: 1px solid var(--background-modifier-border);
  width: 100%;
  max-width: 38rem;
}

.better-recall-deck-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.better-recall-deck-table td {
  padding: 6px 10px 6px 10px;
  text-align: left;
}

.better-recall-deck-table tr:nth-child(2) td {
  padding: 16px 10px 6px 10px;
}

.better-recall-deck-table tr:last-child td {
  padding: 6px 10px 16px 10px;
}

.better-recall-deck-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--background-modifier-border);
}

.better-recall-deck-table tr th:first-child {
  width: 50%;
}

.better-recall-deck-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.better-recall-deck__edit-button .svg-icon {
  cursor: var(--cursor-link);
  display: none;
  color: var(--text-muted);
  opacity: 0.4;
  width: var(--size-4-4);
  transition: opacity 100ms ease-in-out;
}
.better-recall-deck__edit-button .svg-icon:hover {
  opacity: 1;
}

.better-recall-deck-action--visible .svg-icon {
  display: block;
}

.better-recall-card__add-options {
  display: flex;
  align-items: center;
  gap: var(--size-2-3);
}
